body{
    background: url(./components/images/QuestionsPage.png);
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.quiz--container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.quiz--answer-container{
    margin-block-start: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,1fr);
    width: 100vh;
}
.quiz--answers{
    background-color: #fff;
    color: #111D4A;
    height: 5rem;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}
.quiz--correct-answer{
    background-color: #A0EEC0;
    color: #111D4A;
    height: 5rem;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}
.quiz--incorrect-answer{
    background-color: #F64740;
    color: #111D4A;
    height: 5rem;
    border-radius: 10px;
    font-size: larger;
    font-weight: 700;
    padding: 1rem;
    cursor: pointer;
}
.quiz--question-container{
    background-color: #fff;
    color: #71697A;
    border-radius: 10px;
    width: 100vh;
    padding: 1rem;
}
.quiz--question-container > h1{
    cursor: default;
}
.quiz--loading-message{
    position: absolute;
    top: 40vh;
    left: 100vh;
    color: white;
    font-size: 5rem;
}
.quiz--score{
    position: relative;
    right: 10vh;
    color: #fff;
    font-size: xx-large;
    font-weight: 700;
}
.quiz--next{
    position: relative;
    left: 50vh;
    height: 4rem;
    width: 50vh;
    border-radius: 10px;
    border: none;
    margin-block-start: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}
.start--start-button{
    position: absolute;
    left: 50vh;
    top: 50vh;
    background-color: #fff;
    color: #71697A;
    border-radius: 10px;
    width: 100vh;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.start--again-button{
    position: absolute;
    left: 50vh;
    top: 55vh;
    background-color: #fff;
    color: #71697A;
    border-radius: 10px;
    width: 100vh;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

